<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alonefy_app">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
   
    <uses-permission android:name="android.permission.INTERNET"/>
                <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> -->
    <!-- Required only if your app needs to access images or photos
                 that other apps created. -->             
     <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
     <uses-permission android:name="android.permission.READ_CONTACTS"/>
                 <uses-permission android:name="android.permission.CAMERA" />
                 <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
                 <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
             
             
                 <uses-permission android:name="android.permission.WAKE_LOCK" />
                 <uses-permission android:name="android.permission.INTERNET" />
             
                 <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
                 <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
                 <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
                 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
                 <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
                 <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

</manifest>
